.ideas {
  padding: 217px 0 242px;
  background: linear-gradient(335.73deg, #E3E7F6 12.46%, rgba(227, 231, 246, 0) 84.19%);
  @media (max-width: $breakpoint992) {
    padding: 150px 0 158px;
  }
  @media (max-width: $breakpoint768) {
    padding: 100px 0 108px;
  }
  @media (max-width: $breakpoint480) {
    padding: 50px 0 58px;
  }
  &__inner {
    position: relative;
    max-width: 363px;
    @media (max-width: $breakpoint768) {
      margin: 0 auto;
    }
  }
  &__img {
    position: absolute;
    left: 548px;
    top: -134px;
    @media (max-width: $breakpoint1300) {
      left: 600px;
      top: -100px;
      width: 397px;
      height: 382px;
    }
    @media (max-width: $breakpoint1100) {
      left: 500px;
      top: -100px;
    }
    @media (max-width: $breakpoint992) {
      left: 440px;
      top: -30px;
      width: 297px;
      height: 282px;
    }
    @media (max-width: $breakpoint768) {
      position: static;
      width: 350px;
      height: 335px;
    }
    @media (max-width: $breakpoint480) {
      position: static;
      width: 250px;
      height: 235px;
    }
  }
  & picture {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  &__subtitle {
    margin-bottom: 16px;
  }
  &__btn {
    display: block;
    @media (max-width: $breakpoint768) {
      margin: 0 auto;
    }
  }
}