.profile {
  margin-bottom: 60px;
  &__text {
    color: $text-color;
    font-size: 20px;
    line-height: 36px;
    text-align: justify;
    margin: 20px 0 40px;
    @media (max-width: $breakpoint480) {
      font-size: 16px;
      line-height: 28px;
    }
  }
  &__box {
    margin-top: 40px;
    &-text {
      display: block;
      text-decoration: none;
      padding-left: 50px;
      margin-bottom: 20px;
      font-size: 25px;
      line-height: 36px;
      color: $text-color;
      position: relative;
      @media (max-width: $breakpoint480) {
        font-size: 17px;
        line-height: 28px;
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 7px;
        background-repeat: no-repeat;
        @media (max-width: $breakpoint480) {
          top: 3px;
        }
      }
    }
    &-text:nth-child(1):before {
      background-image: url("../img/mainPage/Profile/phone.svg");
      width: 25px;
      height: 27px;
    }
    &-text:nth-child(2):before {
      background-image: url("../img/mainPage/Profile/email.svg");
      width: 29px;
      height: 23px;
    }
    &-text:nth-child(3):before {
      background-image: url("../img/mainPage/Profile/place.svg");
      width: 20px;
      height: 32px;
      top: 15px;
    }
  }
}