.message {
  padding: 102px 0 195px;
  @media (max-width: $breakpoint850) {
    padding-bottom: 70px;
  }
  &__inner {
    position: relative;
  }
  &__box {
    max-width: 539px;
    padding: 52px 48px 55px 48px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
    border-radius: 8px;
    @media (max-width: $breakpoint992) {
      max-width: 440px;
    }
    @media (max-width: $breakpoint850) {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  &__form {
    &-item {
      display: flex;
      flex-direction: column;
    }

    &-label {
      font-size: 16px;
      line-height: 150%;
      color: #8F90A6;
      letter-spacing: 0.005em;
      margin-top: 30px;
      margin-bottom: 6px;
    }

    &-label.first-label {
      margin-top: 0;
    }

    & input, & textarea {
      padding: 20px 32px;
      background: #FFFFFF;
      border: 1px solid #E3E7F6;
      border-radius: 6px;
      display: block;
      @media (max-width: $breakpoint850) {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

    &-textarea {
      height: 150px;
      resize: none;
      @media (max-width: $breakpoint480) {
        height: 100px;
      }
    }

    &-btn {
      margin-top: 30px;
      padding: 14px 32px;
      border: 1px solid $btnColor;
      border-radius: 6px;
      font-size: 16px;
      line-height: 150%;
      background-color: $btnColor;
      color: #fff;
      margin-right: 16px;
      letter-spacing: 0.0025em;
      cursor: pointer;
      @media (max-width: $breakpoint480) {
        margin-right: 0;
        margin-bottom: 15px;
      }
      &:hover {
        transition: all .3s;
        background-color: #e90e3e;
      }
    }
  }
}